
<div class="col-md-12" style="background-image: url('pics/bg.gif'); background-size: contain; background-position: center;">
	<div style="text-align: center;">
		<div class="col-md-12 panel-heading bgYellowColor">
			<img src="pics/title1.png" height="150px" width="690px"/>
		</div>
	</div>
	<div class="col-md-12 bgYellowColor">
		<div style="height: 600px; ">
			<div class="col-md-12 panel-body" style="text-align: center; margin-top:170px">
				<a href="#!/preparation" class="btn btn-primary btn-lg gradient">Start a Game</a>
			</div>
		</div>
	</div>
	
</div>
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->
