<!-- * * * * * * Pokemon list view {Battle preparation page} * * * * * * -->
<!-- list of selected pokemon on the left -->
<div class="col-md-12 panel-body bgYellowColor">

	<div class="col-md-12">
		<div class="col-md-8"><h4>My Team</h4></div>
		<div class="col-md-12 panel-body" style="text-align: center;">
			<div class="col-md-3">
				<img src="http://www.pokestadium.com/sprites/xy/baltoy.gif" class="img-circle teamImg" alt="Cinque Terre">
			</div>
			<div class="col-md-3">
				<img src="http://www.pokestadium.com/sprites/xy/ekans.gif" class="img-circle teamImg" alt="Cinque Terre">
			</div>
			<div class="col-md-3">
				<img src="http://www.pokestadium.com/sprites/xy/bulbasaur-2.gif" class="img-circle teamImg" alt="Cinque Terre">
			</div>
			<div class="col-md-3">
				<img src="http://www.pokestadium.com/sprites/xy/squirtle.gif" class="img-circle teamImg" alt="Cinque Terre">
			</div>
		</div>
		<div class="col-md-12" style="text-align: center;"><a href="#!/overview" type="button" class="btn btn-primary gradient">Go Battle!</a></div>
		<!-- Button here to confirm the dinner menu. -->

			<!-- <a ng-show="selectedMenu.length > 0" id="confirmDinnerButton" href="#!/overview" type="button" class="btn btn-warning btn-md col-md-2">Battle</a>
			<a ng-show="selectedMenu.length == 0" ng-disabled="true" type="button" class="btn btn-warning btn-disabled btn-md col-md-2">Battle!</a> -->
	</div>
</div>
