<!-- * * * * * * Search view {Battle preparation page} * * * * * * -->
<!--Thumbnails of Pokemons on the right-->
<div class="bgSearchColor col-md-12 panel-body panel-group" style="height: 750px;" ng-hide="!isLoading">
	<div style="text-align:center; font-size:xx-large">
		<br />
		<img src="loader.gif"/>
		<br />
		Loading......
	</div>
</div>
<div class="bgSearchColor col-md-12 panel-body panel-group" style="max-height: 750px;" ng-hide="isLoading">
	<div class="col-md-12 panel-header">
		<h4>Choose your Pokémon!</h4>
	</div>
	<div class="col-md-3 panel-body">
		<select ng-model="search.region"  name="typeField" class="form-control" ng-change="getPokedex(search.region)">
			<option ng-repeat="r in regions" value="{{r.id}}">
				{{r.name}}
			</option>
		</select>
	</div>
	<div class="col-md-3 panel-body"></div>
	<div>
		<form class="col-md-4 panel-body" name="filterField" ng-submit="filterField.$valid && setFilter(input)">
			<input class="form-control" type="text" placeholder="Enter key words to search" ng-model="search.filter">
		</form>
		<div class="col-md-2 panel-body" style="text-align: center;">
			<button type="button" class="btn btn-default" ng-click="searchDish(search.filter, search.type)">Search</button>
		</div>
	</div>
	
	<div class="row" style="overflow: auto; max-height: 625px; width: 100%;">
		<!-- Where the search results locates. -->
		<div ng-repeat="pokemon in pokedex" class="col-md-3 panel-body">
			<!-- <button class="panel"> -->
				<a ng-href="#!/details/{{pokemon.entry_number}}" class="btn btn-default">
					<div class="panel-body">
						<img ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemon.pokemon_species.name}}.png"
						alt="{{pokemon.pokemon_species.name}}"
						class="img-responsive"
						style="width:100%; height:200px"/>
					</div>
					<div class="tool panel-heading">
						{{pokemon.pokemon_species.name}}
					</div>
					<!-- <div class="panel-footer">
						{{dish.readyInMinutes}} mins
					</div> -->
				</a>
			<!-- </button> -->
		</div>
	</div>
</div>
